body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
.mapboxgl-popup {
    max-width: 200px;
}
.mapboxgl-popup-content {
    text-align: center;
}
.title {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.legend {
    position: absolute;
    bottom: 20px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
} 